<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="dbType" type="xstring" value="mysql"/>
        <config key="targetFolder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <config key="targetFolder">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="LOCAL"/>
                <entry key="path" type="xstring" value=""/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="false"/>
            </config>
            <entry key="create_missing_folders" type="xboolean" value="false"/>
        </config>
        <config key="tableName_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dbmetadata"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="tableName">
            <entry key="database" type="xstring" value=""/>
            <entry key="schema" type="xstring" value="UCE"/>
            <entry key="table" type="xstring" value="mv_cursos_usuarios"/>
        </config>
        <config key="loaderMode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="loaderMode" type="xstring" value="memoryStream"/>
        <config key="fileFormat_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_csvfileformat"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="fileFormat">
            <entry key="colSeparator" type="xstring" value=","/>
            <entry key="missing" type="xstring" value="\N"/>
            <entry key="quoteBegin" type="xstring" value="&quot;"/>
            <entry key="quoteEnd" type="xstring" value="&quot;"/>
            <entry key="quoteMode" type="xstring" value="STRINGS"/>
            <entry key="quoteReplacement" type="xstring" value=""/>
            <entry key="sepReplacePattern" type="xstring" value=""/>
            <entry key="ReplSepInStrings" type="xboolean" value="false"/>
            <entry key="writeColHeader" type="xboolean" value="false"/>
            <entry key="writeRowHeader" type="xboolean" value="false"/>
            <entry key="decimalSeparator" type="xchar" value="."/>
            <entry key="lineEndingMode" type="xstring" value="SYST"/>
            <entry key="charSet" type="xstring" value="UTF-8"/>
            <entry key="scientificExtrema" type="xboolean" value="true"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.database.node.io.load.node.DBLoaderNodeFactory2"/>
    <entry key="node-name" type="xstring" value="DB Loader"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.0.v202111121655"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.0.v202111231952"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Data Input"/>
        <config key="DB Input">
            <entry key="object_class" type="xstring" value="org.knime.database.port.DBSessionPortObject"/>
        </config>
        <config key="DB Output">
            <entry key="object_class" type="xstring" value="org.knime.database.port.DBSessionPortObject"/>
        </config>
    </config>
    <entry key="name" type="xstring" value="DB Loader"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.database.port.DBSessionPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.database.port.DBSessionPortObject"/>
            <entry key="port_object_summary" type="xstring" value="MySQL 79c99639-c238-4aa3-a57c-979e0cac92e5"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="cc087730-f9e1-4110-ae6a-a7e3e2b9e642"/>
    </config>
</config>
